<!DOCTYPE html>
<html>
<head><title>Cadastro</title></head>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
<link rel="stylesheet" href="/static/register.css">
<body>
  <h1>Cadastro</h1>
  <form method="POST">
    <input name="username" placeholder="Usuário" required>
    <input name="password" type="password" placeholder="Senha" required>
    <button type="submit">Cadastrar</button>
  </form>
  <p><a href="/login">Voltar ao login</a></p>
</body>
</html>
